.cardInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 10px;
  padding: 10px;

  border-radius: 10px;
}

.cardInfo span {
  margin-right: 10px;
}

.cardInfo p {
  margin: 0;
  text-align: center;
}
