.currencyContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 250px;
  gap: var(--card-padding);
}

.info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p:nth-child(2) {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.info p:nth-child(3) {
  margin: 0;
  font-size: 25px;
}

.customItemsContainer {
  display: flex;
  width: 202px;
  height: 165px;
  overflow: auto;
}

.customDropdown {
  min-height: 200px;
}

.attribution {
  margin-top: auto;
  max-width: 140.75px;
  font-size: 11px;
  text-align: center;
}
