.currencyContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 250px;
  gap: var(--card-padding);
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info > div {
  flex-grow: 1;
  flex-direction: column;
}

.info p:nth-child(1) {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.info p:nth-child(2) {
  margin: 0;
  font-size: 25px;
}

.customItemsContainer {
  display: flex;
  width: 202px;
  height: 165px;
  overflow: auto;
}

.customDropdown {
  min-height: 200px;
}
